body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.jo-navbar{
    background-color: #dcdcdc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.jo-btn{
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
}

.jo-btn:hover{
    background-color: #f0f0f0;
}

.jo-btn.active{
    background-color: #0078d4;
    color: #ffffff;
}
