.jo-big {
    border: 1px solid black;
    background-color: #f6f6f6;
    padding: 10px;
}

.jo-btn{
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 19px;
    text-align: center;
    font-weight: bold;
    height: 40px;
    width: 60px;
    margin-right: 2px;
}

.jo-btn:hover{
    background-color: #2177ff;
    color : white;
}

.jo-butdus{
    border: 1px solid darkgrey;
    background-color: white;
    border-radius: 19px;
    text-align: center;
    font-weight: bold;
    height: 40px;
    width: 70px;
    margin-right: 2px;
}

.jo-butdus:hover{
    background-color: #2177ff;
    color : white;
}

.jo-gudokhome{
    margin-left: 400px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.jo-gudokhome:hover{
    text-decoration: underline;
}